[github]
	user = abtris
	token = f7cff9728613411c3793d62cdbc03075
[user]
	name = Ladislav Prskavec
	email = ladislav.prskavec@gmail.com
[alias]
	ci = commit
        changes=diff --name-status -r
        diffstat=diff --stat -r
        
