# https://blog.gitbutler.com/how-git-core-devs-configure-git/
[alias]
	append = town append
	br = branch
	changes=diff --name-status -r
	ci = commit
	cif = !git commit --fixup=$(git-log-vgrep-most-recent-commit 'fixup!')
	co = checkout
	df = diff
	diff-parent = town diff-parent
	diffstat=diff --stat -r
	hack = town hack
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	kill = town kill
	lg = log -p
	myworklog = log --author=prskavecl --since=1.month --pretty='%h %Cgreen%ad %Cred%an %Cblue%s%Creset'
	new-pull-request = town new-pull-request
	pending = log --oneline origin/master --not master
	prepend = town prepend
	prune-branches = town prune-branches
	rbi = rebase -i --autosquash
	rename-branch = town rename-branch
	repo = town repo
	root = "rev-parse --show-toplevel"
	ship = town ship
	showtrackedignored = ls-files -i --exclude-standard
	st = status
	start = !git init && git commit --allow-empty -m \"Initial commit\"
	sync = town sync
	up = pull --rebase
	upstream = log --oneline master --not origin/master
	worklog = log --pretty='%h %Cgreen%ad %Cred%an %Cblue%s%Creset'
	worklogexport = log --pretty='%h|%at|%an|%s'
	wu = log --stat origin..@{0}
	wup = log -p origin..@{0}
	stack-branches = log --decorate-refs=refs/heads --simplify-by-decoration --pretty=format:\"%(decorate:prefix=,suffix=,tag=,separator=%n)\" ^origin/HEAD HEAD
[branch]
	autosetuprebase = always
	sort = -committerdate
[browser "gitscm"]
	cmd = /bin/sh -c 'open http://git-scm.com/docs/$(basename $1 .html)' --
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	frag = magenta bold
	meta = yellow bold
	new = green bold
	old = red bold
[column]
    ui = auto	
[commit]
	cleanup = strip
    verbose = true	
	gpgsign = false
	template = ~/.git-commit-template.txt
[core]
	askPass = true
	autocrlf=input
	editor = code --wait
	excludesFile = ~/.gitignore
	pager = delta
	quotepath = false
	trustctime = false
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-decoration-style = none
	file-style = bold yellow ul
[delta]
	features = side-by-side line-numbers decorations
	side-by-side = true
	whitespace-error-style = 22 reverse
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
	all = true	
[filter "hawser"]
	clean = git hawser clean %f
	required = true
	smudge = git hawser smudge %f
[filter "lfs"]
	clean = git lfs clean %f
	required = true
	smudge = git lfs smudge %f
[filter "media"]
	clean = git media clean %f
	required = true
	smudge = git media smudge %f
[format]
	signoff = true
[gc]
	auto = 0
[github]
	user = abtris
[gpg]
	format = ssh
	program = gpg
[help]
    autocorrect = prompt
[init]
	defaultBranch = master
	templatedir = ~/.gittemplate
[instaweb]
	httpd=webrick
[interactive]
	diffFilter = delta --color-only
[maintenance]
	repo = /Users/lprskavec/Sites/lprskavec/krypton-kds
[merge]
    # (just 'diff3' if git version < 2.3)
    conflictstyle = zdiff3 
[pager]
	difftool = true  
[push]
	default = simple
	autoSetupRemote = true
	followTags = true	
[pull]
	rebase = true	
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true	
[rerere]
	enabled = true
	autoupdate = true
[tag]
	sort = version:refname	
[url "git@github.com:abtris/"]
	insteadOf = "gh:"
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
